@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Oswald:wght@300;400&display=swap");
@use "sass:map";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

.page__about-me, .page__skills, .page__projects, .page__contact {
  padding: 13.5vh 8vw;
}

.page__footer {
  border-top: 3px solid #FF9900;
}

.title-text {
  font: 4rem "Oswald", sans-serif;
  color: #FF9900;
  letter-spacing: 1px;
}

.title-text--black {
  color: #000;
}

.subtitle-text {
  font: 2rem "Oswald", sans-serif;
  color: #757575;
}

.subtitle-text--bold {
  font-weight: bold;
}

.subtitle-text--white {
  color: white;
}

.text {
  font: 1.2rem "Open Sans", sans-serif;
  color: #757575;
}

.text--bold {
  font-weight: bold;
}

.text--small {
  font-size: 1rem;
}

.text--smallest {
  font-size: 0.8rem;
}

.text--yellow {
  color: #FF9900;
}

.text--yellow-transparent {
  color: rgba(255, 153, 0, 0.7);
}

.text--black-darker {
  color: #1F1F1F;
}

.text--shifted-left {
  margin-left: 40px;
}

.button {
  width: 200px;
  height: 50px;
  text-align: center;
  border: none;
  background-color: rgba(255, 153, 0, 0.7);
}

.header {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #242424;
  position: relative;
}

.menu {
  width: 100%;
  height: 80px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #000;
  padding: 0 6vw;
}

.logo {
  width: 64px;
  height: 64px;
}

.logo__image {
  position: absolute;
  z-index: 1000;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 25vw;
  z-index: 1000;
}

.menu__item {
  padding: 0 10px;
  display: inline;
}

.menu__link {
  display: inline-block;
}

.title-container {
  z-index: 1000;
  position: absolute;
  top: 21vh;
  right: 10vw;
}

.header__image {
  position: absolute;
  max-width: 100vw;
  min-height: 100vh;
  right: 0;
  bottom: 0;
}

.about-me {
  min-height: 100vh;
  background-color: #1F1F1F;
  text-align: center;
}

.about-me__title {
  padding-bottom: 40px;
}

.about-me__image {
  float: left;
  width: 40%;
  margin-right: 8%;
}

.content-container {
  display: inline-block;
  width: 52%;
}

.about-me__first-paragraph,
.about-me__second-paragraph {
  margin: 20px 0;
}

.about-me__button {
  margin: 7vh auto 0 auto;
  display: block;
}

.skills {
  min-height: 100vh;
  background-color: #242424;
  text-align: center;
}

.skills__title {
  padding-bottom: 60px;
}

.skills__tiles-second-group, .skills__tiles-first-group {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skills__tiles-first-group {
  margin-bottom: 40px;
}

.projects {
  min-height: 100vh;
  background-color: #1F1F1F;
  text-align: center;
}

.projects__title {
  padding-bottom: 40px;
}

.projects__introduction {
  max-width: 80%;
  margin: 0 auto 80px auto;
}

.project-box {
  width: 265px;
  height: 265px;
  background-color: grey;
  margin: 15px;
}

.project-box--large {
  width: 560px;
  height: 560px;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-container__small-boxes {
  max-width: 590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact {
  min-height: 100vh;
  background-color: #242424;
  text-align: center;
}

.input-container {
  width: 70%;
  text-align: left;
  margin: 40px auto;
}

.input-container--margin-btm {
  margin-bottom: 0;
}

.form__label {
  display: block;
  margin: 10px 0;
}

.form__input {
  width: 100%;
  height: 50px;
  background-color: #1F1F1F;
  border: none;
  padding-left: 20px;
}

.form__input--large {
  min-height: 160px;
  padding-right: 20px;
  padding-top: 20px;
}

.contact__button {
  margin-top: 60px;
}

.footer {
  min-height: 60px;
  background-color: #1F1F1F;
  text-align: center;
}

.footer__copyright {
  margin-top: 10px;
}
/*# sourceMappingURL=styles.css.map */