@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Oswald:wght@300;400&display=swap");
@use "sass:map";
.hover-animation {
  position: relative;
}

.hover-animation:after {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #FF9900;
  height: 3px;
}

.hover-animation:hover:after {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  font-size: 16px;
}

@media (max-width: 415px) {
  :root {
    font-size: 13px;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    font-size: 15px;
  }
}

.page__about-me, .page__skills, .page__projects, .page__contact {
  padding: 13.5vmin 8vw;
}

.page__footer {
  border-top: 3px solid #FF9900;
}

.title-text {
  font: 4rem "Oswald", sans-serif;
  color: #FF9900;
  letter-spacing: 1px;
  line-height: 4rem;
}

.title-text--black {
  color: #000;
}

.title-text--large {
  line-height: 5.5rem;
  font-size: 5.5rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .title-text--large {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media (max-width: 415px) {
  .title-text--large {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .title-text--large {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

.subtitle-text {
  font: 2rem "Oswald", sans-serif;
  color: #757575;
}

.subtitle-text--bold {
  font-weight: bold;
}

.subtitle-text--white {
  color: white;
}

.text {
  font: 1.2rem "Open Sans", sans-serif;
  color: #757575;
}

.text--bold {
  font-weight: bold;
}

.text--small {
  font-size: 1rem;
}

.text--smallest {
  font-size: 0.8rem;
}

.text--yellow {
  color: #FF9900;
}

.text--yellow-transparent {
  color: rgba(255, 153, 0, 0.7);
}

.text--black-darker {
  color: #1F1F1F;
}

.button, .about-me__button, .contact__button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  border: 3px solid #FF9900;
  border-radius: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.button:hover, .about-me__button:hover, .contact__button:hover {
  -webkit-box-shadow: inset 200px 0 0 0 rgba(255, 153, 0, 0.7);
          box-shadow: inset 200px 0 0 0 rgba(255, 153, 0, 0.7);
  border: 3px solid rgba(255, 153, 0, 0.7);
}

.header {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #242424;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    min-height: 100vmin;
  }
}

@media (max-width: 415px) {
  .header {
    min-height: 90vh;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .header {
    min-height: 80vh;
  }
}

.header__image {
  position: absolute;
  max-width: 100vw;
  min-height: 100vh;
  right: 0;
  bottom: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__image {
    max-width: 80vw;
    min-height: 100vmin;
    right: 20vw;
  }
}

@media (max-width: 415px) {
  .header__image {
    display: none;
    max-width: 70vw;
    min-height: 100vh;
    right: 30vw;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .header__image {
    max-width: 60vw;
    min-height: 100vh;
    right: 40vw;
  }
}

.header__image-developer {
  max-width: 80vw;
  max-height: 80vh;
  position: absolute;
  z-index: 2000;
  bottom: 0;
  right: 50vw;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__image-developer {
    max-width: 80vmin;
    max-height: 80vmin;
    right: 40vmin;
  }
}

@media (max-width: 415px) {
  .header__image-developer {
    max-width: 80vw;
    max-height: 80vh;
    right: 10vw;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .header__image-developer {
    max-width: 70vw;
    max-height: 70vh;
    right: 30vw;
  }
}

.menu {
  width: 100%;
  height: 80px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  padding: 0 5vw;
}

@media (max-width: 415px) {
  .menu {
    padding: 0 2vw 0 0;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .menu {
    padding: 0 3vw;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 25vw;
  z-index: 1000;
}

.menu__item {
  padding: 0 8px;
  display: inline-block;
}

.menu__link {
  display: block;
}

.logo {
  width: 80px;
  height: 80px;
}

@media (max-width: 415px) {
  .logo {
    background-color: #FF9900;
  }
}

.logo__image {
  width: 64px;
  height: 64px;
  margin: 8px 0 0 8px;
  position: absolute;
  z-index: 1000;
}

@media (max-width: 415px) {
  .logo__image {
    width: 50px;
    height: 50px;
    margin: 15px 0 0 15px;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .logo__image {
    width: 54px;
    height: 54px;
    margin: 13px 0 0 13px;
  }
}

.title-container {
  z-index: 1000;
  position: absolute;
  top: 21vh;
  right: 10vw;
  text-align: right;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .title-container {
    top: 13vh;
    right: 7vw;
  }
}

@media (max-width: 415px) {
  .title-container {
    position: static;
    padding-top: 15vh;
    text-align: center;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .title-container {
    top: 13vh;
    right: 7vw;
  }
}

.about-me {
  min-height: 100vh;
  background-color: #1F1F1F;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .about-me {
    min-height: 100vmin;
  }
}

@media (max-width: 415px) {
  .about-me {
    min-height: auto;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .about-me {
    min-height: auto;
  }
}

.about-me__title {
  padding-bottom: 40px;
}

.about-me__image {
  float: left;
  width: 40%;
  margin-right: 5%;
}

@media (max-width: 415px) {
  .about-me__image {
    float: none;
    display: block;
    margin: 2% auto;
    width: 60%;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .about-me__image {
    float: none;
    display: block;
    margin: 3% auto;
    width: 60%;
  }
}

.about-me__first-paragraph, .about-me__second-paragraph {
  margin: 20px 0;
}

.about-me__button {
  background-color: #1F1F1F;
  display: block;
  margin: 5vh auto 0 auto;
}

.about-me__button:hover {
  color: #1F1F1F;
}

.content-container {
  display: inline-block;
  width: 52%;
}

@media (max-width: 415px) {
  .content-container {
    width: 100%;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .content-container {
    width: 100%;
  }
}

.skills {
  min-height: 100vh;
  background-color: #242424;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .skills {
    min-height: 100vmin;
  }
}

@media (max-width: 415px) {
  .skills {
    min-height: auto;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .skills {
    min-height: auto;
  }
}

.skills__title {
  padding-bottom: 60px;
}

.skills__tiles-second-group, .skills__tiles-first-group {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 415px) {
  .skills__tiles-second-group, .skills__tiles-first-group {
    width: 100%;
  }
}

.skills__tiles-first-group {
  margin-bottom: 40px;
}

.projects {
  min-height: 100vh;
  background-color: #1F1F1F;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .projects {
    min-height: 100vmin;
  }
}

@media (max-width: 415px) {
  .projects {
    min-height: auto;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .projects {
    min-height: auto;
  }
}

.projects__title {
  padding-bottom: 40px;
}

.projects__introduction {
  max-width: 80%;
  margin: 0 auto 80px auto;
}

.projects__image {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.projects__image:hover {
  cursor: pointer;
  scale: 1.08;
  -webkit-box-shadow: 0px 5px 5px 5px #000;
          box-shadow: 0px 5px 5px 5px #000;
}

.grid-el-container {
  width: 70vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 2rem 2rem;
}

.grid-el-first {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
}

.grid-el-second {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

.grid-el-third {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 2 / 5;
}

.grid-el-fourth {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.grid-el-fifth {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2 / 4 / 3 / 5;
}

@media (max-width: 415px) {
  .grid-el-container {
    display: block;
  }
  .grid-el-first {
    margin: 2rem 0;
  }
  .grid-el-second {
    margin: 2rem 0;
  }
  .grid-el-third {
    margin: 2rem 0;
  }
  .grid-el-fourth {
    margin: 2rem 0;
  }
  .grid-el-fifth {
    margin: 2rem 0;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .grid-el-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 30px 30px;
  }
  .grid-el-first {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  .grid-el-second {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  .grid-el-third {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  .grid-el-fourth {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  .grid-el-fifth {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
}

.contact {
  min-height: 100vh;
  background-color: #242424;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contact {
    min-height: 100vmin;
  }
}

@media (max-width: 415px) {
  .contact {
    min-height: auto;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .contact {
    min-height: auto;
  }
}

.contact__button {
  background-color: #242424;
  margin-top: 60px;
}

.contact__button:hover {
  color: #242424;
}

.input-container {
  width: 80%;
  text-align: left;
  margin: 40px auto;
}

.input-container--margin-btm {
  margin-bottom: 0;
}

.form__label {
  display: block;
  margin: 10px 0;
}

.form__input {
  width: 100%;
  height: 50px;
  background-color: #1F1F1F;
  border: none;
  padding-left: 20px;
}

.form__input--large {
  min-height: 160px;
  padding-right: 20px;
  padding-top: 20px;
}

.footer {
  min-height: 60px;
  background-color: #1F1F1F;
  text-align: center;
}

.footer__copyright {
  margin-top: 10px;
}
/*# sourceMappingURL=styles.css.map */