* {
    margin: 0 auto;
    padding: 0;
}

body {
    width: 100vw;
    font-family: 'Poly', serif;
}

header {
    width: 100%;
    height: 10vh;
    background-color: #FFE6D1;
    font-family: 'Teko', sans-serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav > div {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > div > a {
    font-size: 2vw;
    text-decoration: none;
    color: #000000;
    position: relative;
}

nav > div > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: .15vw;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

nav > div > a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

nav > div:nth-child(3) > a {
    font-size: 2.7vw;
    font-weight: bold;
}

#main_view {
    clear: both;
    width: 100%;
    height: 90vh;
    background-color: #FFE6D1;
}

#main_view > div {
    position: relative;
}

.main_left {
    background-color: #FFEE8A;
    background-image: url('../img/bg2.png');
    background-size: 100% 100%;
    background-position: 10% 0 0 10%;
    width: 40%;
    top: 30%;
    left: -40%;
    z-index: 0;
    height: 60%;
}

.main_content {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 40%;
    left: -10%;
    top: -55%;
    z-index: 1;
}

.main_text {
    width: 80%;
    text-align: justify;
}

.main_text > h1 {
    width: 50%;
    text-align: center;
}

.main_right {
    background-image: url('../img/bg1.png');
    background-size: 100% 100%;
    background-color: #FFA574;
    width: 45%;
    height: 60%;
    top: -85%;
    left: 27%;
}