@mixin brand-main-title {
  display: inline-block;
  position: relative;
  left: calc(0);
  padding: 18px 0;
  line-height: 38px;
  font-family: $font-family--primary;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.02em;
}
