@mixin brand-line-vertical {
  content: "";
  // display: block;
  position: absolute;
  top: 0;
  left: 0;
  // left: -26px;
  height: 196px;
  // width: 1px;
  width: 1px;
  border-left: 3px dashed #FFC53D;

}