/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $color-basic-bgc;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    color: inherit;
    cursor: default;
}