.skills {
  position: relative;
  z-index: 10;
  height: 430px;
  width: 100%;
  margin-bottom: 57px;
  background-color: $color-bgc;
  padding: 0 7%;
  // background-color: blue;

  &::after {
    // content: "xxxxxxxxxxxxx";
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
    display: block;
    background-color: #FAFAFF;
    // opacity: .5;
    // background-color: red;
  }


  &__title {
    display: inline-block;
    position: relative;
    left: calc(30vw - 20px);
    padding: 18px 0;
    // padding: 18px 0 18px calc(30% + 50px);
    font-family: $font-family--2;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.02em;
    text-align: left;

  }

  &__box {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 280px;
    max-width: 1240px;
    background-color: $color-bgc;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    justify-content: space-around;
    padding: 38px 0px;
  }

  &__item {
    position: relative;
    text-align: center;
    flex-grow: 1;


  }

  &__item::after {
    @include brand-line-vertical;
  }

  // &__item {}

  // li:last-child &__personalItem {}


  &__img {
    display: inline-block;
  }

  &__name {
    padding-top: 46px;
    font-family: $font-family--1;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: $color-brand--1;
  }

  &__secondName {
    padding-top: 13px;
    font-family: $font-family--1;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
  }



}