$color-font--primary: #222;
$color-font--secondary: #515151;
$color-font--tertiary: #a0a0a0;
$color-font--light: #fff;
$color-font--on-brand-bgc: $color-font--light;

$color-bgc: #fff;
$color-bgc--special: #fafaff;

$color-brand--primary: #ffc53d;
$color-brand--secondary: #ff9a3d;

$font-family--primary: "Raleway", sans-serif;
$font-family--secondary: "Ubuntu", "Raleway", sans-serif;

$mediaQ-tablet: 768px;
$mediaQ-mobile-L: 425px;
$mediaQ-mobile-M: 375px;
$mediaQ-mobile-S: 320px;

$font-size-standard: 18px;
