// $color-font: black;
// $color-font--light: #DDD;
// $color-font--on-brand-bgc: $color-font--light;

// $color-bgc: $color-font--light;
// $color-bgc: #d53;

// $color-brand--1: FFC53D;
// $color-brand--2: FF9A3D;
:root {



  // --font-family--2: FF9A3D;
}

$color-font--1: #222;
$color-font--2: #515151;
$color-font--3: #A0A0A0;
$color-font--light: #FFF;
$color-font--on-brand-bgc: $color-font--light;

// --color-bgc: var(--color-font--light);
$color-bgc: #FFF;
$color-bgc--special: #FAFAFF;

$color-brand--1: #FFC53D;
$color-brand--2: #FF9A3D;


$font-family--1: 'Raleway',
sans-serif;
$font-family--2: 'Ubuntu',
'Raleway',
sans-serif;