.projects {
    min-height: 100vh;
    background-color: map-get($colors, 'black-darker');
    text-align: center;
    &__title {
        padding-bottom: 40px;
    };
    &__introduction {
        max-width: 80%;
        margin: 0 auto 80px auto;
    };
    &__image {
        width: 100%;
        height: 100%;
        transition: 0.5s ease-in-out;
        &:hover {
            cursor: pointer;
            scale: 1.08;
        }
    }
}

.grid-el {
    &-container {
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 30px;
    };
    &-first {
        grid-area: 1 / 1 / 3 / 3;
    };
    &-second {
        grid-area: 1 / 3 / 2 / 4;
    };
    &-third {
        grid-area: 1 / 4 / 2 / 5;
    };
    &-fourth {
        grid-area: 2 / 3 / 3 / 4;
    };
    &-fifth {
        grid-area: 2 / 4 / 3 / 5;
    };
}

//TODO: dodać animację dla :hover i nakładkę z opacity dla boxów