.skills {
    min-height: 100vh;
    background-color: map-get($colors, 'black-lighter');
    text-align: center;
    &__title {
        padding-bottom: 60px;
    }
    &__tiles-second-group {
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &__tiles-first-group {
        @extend .skills__tiles-second-group;
        margin-bottom: 40px;
    }
}

//TODO: w przyszłości każdy z kafelków skills ma być osobnym elementem