* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ecf0f1;
    color: #2c3e50;
    max-width: 100%;
}

.header {
    position: relative;
    background: #ecf0f1;
    height: 80px;
}

.nav {
    position: fixed;
    width: 100%;
    background: #95a5a6;
    overflow: hidden;
    top: 0;
    z-index: 999999999999999;
}

.nav-links {
    height: 80px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

.nav-link-container {
    float: left;
}

.nav-link {
    padding: 0 10px;
    display: inline-block;
    height: 80px;
    line-height: 5rem ;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s;
}

.sections {
    margin: 80px 0 0;
}
.section {
    position: relative;
    margin: 0 auto;
    background: #ecf0f1;
    display: inline-block;
}

.section-link {
    position: absolute;
    top: -80px;
}

.section-wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.about {
    background: url(./img/balticSea.JPG) no-repeat center center;
    background-size: cover;
    /* height: 700px; */
    text-align: center;
    position: relative;
}


.welcome-text {
    font-size: 80px;
    line-height: 1.5em;
    margin-top: 0px;
    margin-bottom: 80px;
}

.name {
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 40px;
    margin-top: 0;
    text-transform: uppercase;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-icon {
    background: url(/img/Ellipse.png) no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 26px;
    width: 25px;
}

.no-ellipse {
    background: none !important;
}


.info {
    color: #bdc3c7;
    list-style: none;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 10px;
}

.info-lines {
    list-style: none;
}

.description-paragraph {
    text-align: justify;
    line-height: 1.5;
}

.skill-icon {
    /* height: 100px; */
    /* width: 100%; */
    font-size: 100px;
    /* display: inline; */
}