*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    --blacktext: #515151;
    --ornaments: #FFC53D;
}

.navigation{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: var(--blacktext, black);
    width: 100%;
    padding: 15px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.2rem;
    z-index: 5;
}

.navigation__items{
    display: flex;
    order: 2;
    padding: 0 5px;
    list-style: none;
}
.navigation__item{
    padding: 0 15px;
    position: relative;
}
.navigation__item::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 3px;
    background-color: var(--ornaments, orange);
    transition: width .5s;
}
.navigation__item:hover::after{
    width: 100%;
}
.navigation__link{
    color: var(--blacktext, black);
    text-decoration: none;
}
.logo{
    justify-self: self-start;
    padding: 0 5px;
}


.baner{
  /*  background-image: url(./images/cover_layer.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5; */
    max-width: 100%;
    width: 100vw;
    max-height: 80vh;
    margin-top: 46px;
    position: relative;
    overflow: hidden;
}
/*.baner{
    background-image: url(./images/cover_photo.png); 
    background-repeat: no-repeat;
    background-size: contain; 
    margin-top: 46px;
    position: relative;
}*/

.baner__photo{
    width: 100%;
    max-height: 100%;
    position: relative;
    z-index: -1;
}
.baner__layer{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
}
/* działa
.baner__header{
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--ornaments, orange);
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 5.5rem;
    line-height: 6rem;
    font-weight: 700;
    letter-spacing: 0.02em;
} */
.baner-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 16px;
}
.baner-text__header{
    color: var(--ornaments, orange);
    font-size: 5.5em;
    line-height: 6rem;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.baner-text__paragraph{
    color: #fff;
    font-size: 2em;
    line-height: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
}

.baner-text__icons a{
    color: white;
    font-size: 1.5em;
    background-color: var(--ornaments, orange);
    margin: 6px;
}
.icon-color{
    transform: scale(1.4); 
}



@media (min-width: 1px) and (max-width: 480px) {
    .navigation{
        position: static;
        justify-content: center;
    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 5px;
    }
    .navigation__item{
        padding: 10px 15px;
    }
    .baner{
        margin-top: 0px;
    }
    .baner-text{
        font-size: 10px;
        top: 5px;
    }
    .baner-text__header{
        line-height: 3rem;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .navigation{
        position: static;
        justify-content: center;
    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 5px;
    }
    .navigation__item{
        padding: 10px 15px;
    }
    .baner{
        margin-top: 0px;
    }
    .baner-text{
        font-size: 12px;
        top: 5px;
    }
    .baner-text__header{
        line-height: 5rem;
    }

}