.btn {
  overflow: hidden;
  height: 50px;
  width: 200px;
  border-radius: 15px;
  border: none;
  background-image: linear-gradient(270deg, #ffc53d 14%, #ff9a3d 68.5%);
  text-align: center;
  color: $color-font--on-brand-bgc;
  font-family: $font-family--primary;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;

  &--small {
    width: 100px;
  }

  &--special {
    //  width: 200px;
  }

  &:hover {
    border: 1px solid #ffc53d;
    background-image: none;
    background-color: #fff;
    color: $color-brand--primary;
  }
}
