@media (min-width: 1px) and (max-width: 480px) {
    .navigation{
        position: static;
        justify-content: center;
    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 5px;
    }
    .navigation__item{
        padding: 10px 15px;
    }
    .baner{
        margin-top: 0px;
    }
    .baner-text{
        font-size: 10px;
        top: 5px;
    }
    .baner-text__header{
        line-height: 3rem;
    }
    .about-details{
        border-right-color: white;
    }
    .skills-item:nth-child(2){
        border-right-color: white;
        border-left-color: white;
    }
    .portfolio-items{
        display: flex;
        flex-wrap: wrap;
    }
    .calc{
        width: 100%;
    }
    .toDoList{
        width: 100%;
    }
    .drumMachine{
        width: 100%;
    }
    .stopwatch{
        width: 100%;
    }
    .zonex{
        width: 100%;
    }
    .portfolio-items__image{
        display: block;
        max-width: 100%;
    }
    .stopwatch-hover__live, .stopwatch-hover__code{
        font-size: 1em;
        font-weight: 700;
        margin: 10px 40px;
        width: 200px;
        padding: 15px 0px 15px;
        margin-bottom: 1em;
    }
    .about-me{
        padding-left: 5%;
    }
    .about-info{
        width: 90vw;
        padding: 10px;
    }
    .skills-info{
        width: 90vw;
        padding: 10px;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .navigation{
        position: static;
        justify-content: center;
    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 5px;
    }
    .navigation__item{
        padding: 10px 15px;
    }
    .baner{
        margin-top: 0px;
    }
    .baner-text{
        font-size: 12px;
        top: 5px;
    }
    .baner-text__header{
        line-height: 5rem;
    }
    .about-details{
        border-right-color: white;
    }
    .skills-item:nth-child(2){
        border-right-color: white;
        border-left-color: white;
    }
    .portfolio-items{
        display: flex;
        flex-wrap: wrap;
    }
    .calc{
        width: 100%;
    }
    .toDoList{
        width: 100%;
    }
    .drumMachine{
        width: 100%;
    }
    .stopwatch{
        width: 100%;
    }
    .zonex{
        width: 100%;
    }
    .portfolio-items__image{
        display: block;
        max-width: 100%;
    }

    .stopwatch-hover__live, .stopwatch-hover__code{
        font-size: 1em;
        font-weight: 700;
        margin: 10px 40px;
        width: 200px;
        padding: 15px 0px 15px;
        margin-bottom: 1em;
    }
    .about-me{
        padding-left: 5%;
    }
    .about-info{
        width: 90vw;
        padding: 10px;
    }
    .skills-info{
        width: 90vw;
        left: -37%;
        padding: 10px;
    }

}

@media (min-width: 769px) and (max-width: 1024px){
    .portfolio-items{
        display: flex;
        flex-wrap: wrap;
    }
    .calc{
        width: 100%;
    }
    .toDoList{
        width: 100%;
    }
    .drumMachine{
        width: 100%;
    }
    .stopwatch{
        width: 100%;
    }
    .zonex{
        width: 100%;
    }
    .portfolio-items__image{
        display: block;
        max-width: 100%;
    }

}
@media (min-width: 1025px) and (max-width: 1200px){

}
@media (min-width: 1201){

}