.header {
    max-width: 100vw;
    min-height: 100vh;
    background-color: map-get($colors, 'black-lighter');
    position: relative;
    // border: 2px solid green;
}

.menu {
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: map-get($colors, 'black-true');
    padding: 0 6vw;
    // border: 2px solid blue;
}

.logo {
    width: 64px;
    height: 64px;
}

.logo__image {
    position: absolute;
    z-index: 1000;
}

// TODO: Some hover animation over nav items (animated underline)
.menu__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-width: 25vw;
    z-index: 1000;
}

.menu__item {
    padding: 0 10px;
    display: inline;
}

.menu__link {
    display: inline-block;
}

// TODO: Position and structure of header title
.title-container {
    z-index: 1000;
    // width: 450px;
    position: absolute;
    top: 21vh;
    right: 10vw;
}

.header__image {
    position: absolute;
    max-width: 100vw;
    min-height: 100vh;
    right:0;
    bottom:0;
    // border: 2px solid red;
}

