.title-text {
    font: 4rem $oswald;
    color: map-get($colors, 'yellow-accent');
    letter-spacing: 1px;
    line-height: 4rem;
    &--black {
        color: map-get($colors, 'black-true');
    }
    &--large {
        line-height: 5.5rem;
        font-size: 5.5rem;
        //Tablet
        @include media-tablet-desktop() {
            font-size: 5rem;
            line-height: 5rem;
        }
        //Mobile
        @include media-mobile() {
            font-size: 5rem;
            line-height: 5rem;
        }
        //Between
        @include media-mobile-tablet() {
            font-size: 4.5rem;
            line-height: 4.5rem;
        }
    }
}

.subtitle-text {
    font: 2rem $oswald;
    color: map-get($colors, 'grey-main');
    &--bold {
        font-weight: bold;
    }
    &--white {
        color: white;
    }
}

.text {
    font: 1.2rem $open-sans;
    color: map-get($colors, 'grey-main');
    &--bold {
        font-weight: bold;
    }
    &--small {
        font-size: 1rem;
    }
    &--smallest {
        font-size: 0.8rem;
    }
    &--yellow {
        color: map-get($colors, 'yellow-accent');
    }
    &--yellow-transparent {
        color: map-get($colors, 'yellow-accent-transparent');
    }
    &--black-darker {
        color: map-get($colors, 'black-darker');
    }
}

