.aboutMe {
  z-index: 10;
  position: relative;
  width: 100%;
  margin-bottom: 57px;
  padding: 0 7% 75px;
  background-color: $color-bgc;

  &::after {
    content: "";
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 30%;
    background-color: $color-bgc--special;
  }

  &__title {
    @include brand-main-title;
    display: inline-block;
    left: calc(50% - 450px);
    transform: translateX(-50%);
  }

  &__box {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: 51px 33px;
    max-width: 1240px;
    justify-content: space-between;
    background-color: $color-bgc;
    filter: drop-shadow(3px 2px 10px rgba(0, 0, 0, 0.15));
  }

  &__personalContainer {
    display: flex;
    position: relative;
    min-width: 320px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 4;
    align-self: flex-start;
  }

  &__photoBox {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    flex-grow: 2;
  }

  &__photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  }

  &__personalList {
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 2;
  }

  &__personalItem {
    display: flex;
    padding-bottom: 9px;
    align-items: center;
    text-align: left;
    font-family: $font-family--secondary;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  // !  daj aby ostatni nie miał paddingu

  &__spanSpecial {
    padding-left: 8px;
    font-family: $font-family--primary;
    color: $color-brand--primary;
  }

  &__desc {
    position: relative;
    display: flex;
    height: auto;
    max-width: 680px;
    padding-left: 26px;
    padding-right: 26px;
    border-left: 3px dashed #ffc53d;
    align-items: center;
    flex-grow: 6;
    line-height: 172.35%;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.04em;
  }
}

@media (max-width: 1300px) {
  .aboutMe {
    &__title {
      left: calc(10%);
    }
  }
}

@media (max-width: 1000px) {
  .aboutMe {
    padding-left: 0;
    padding-right: 0;

    &__title {
      left: 15%;
    }
  }
}

@media (max-width: $mediaQ-tablet) {
  .aboutMe {
    &__title {
      left: 25%;
    }

    &__box {
      flex-wrap: wrap;
    }

    &__photoBox {
      text-align: center;
    }

    &__desc {
      padding-top: 25px;
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 25px;
      border: none;
      border-top: 3px dashed #ffc53d;
    }
  }
}

@media (max-width: $mediaQ-mobile-M) {
  .aboutMe {
    &__title {
      left: 35%;
    }

    &__box {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__personalContainer {
      min-width: auto;
    }

    &__personalItem {
      flex-direction: column;
    }
  }
}
