.contactUs {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 0 0 90px;
  background-color: $color-bgc--special;

  &__title {
    @include brand-main-title;
    display: inline-block;
    left: calc(50% - 450px);
    transform: translateX(-50%);
  }

  &__mainBox {
    display: flex;
    position: relative;
    left: 50%;
    width: 1240px;
    max-width: 100%;
    transform: translateX(-50%);
    flex-direction: row;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    flex-wrap: wrap;
  }

  &__infoBox,
  &__formBox {
    position: relative;
    padding: 35px 0 35px 52px;
  }

  &__infoBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-grow: 1;
    background: $color-brand--secondary;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    color: $color-font--light;
  }

  &__infoBox::after {
    content: "";
    position: absolute;
    z-index: 50;
    top: 40px;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 32px solid $color-brand--secondary;
  }

  &__encouragingContact {
    flex-grow: 1;
    align-self: start;
  }

  &__logoMessage {
    height: 68px;
    width: 68px;
  }

  &__encouragingText {
    display: block;
    width: 300px;
    padding: 25px 0 25px;
    font-family: $font-family--primary;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 172.35%;
    letter-spacing: 0.04em;
  }

  &__contactInfo {
    padding: 25px 0 0;
  }

  &__contactData {
    text-align: left;
    font-family: $font-family--secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 25px;
    letter-spacing: 0.02em;
  }

  &__contactData a {
    display: inline-block;
    padding: 0;
  }

  &__contactData a::after {
    content: "";
    display: block;
    position: relative;
    bottom: 3px;
    height: 1px;
    width: 100%;
    background-color: $color-font--light;
  }

  &__contactData--special {
    padding-top: 9px;
    font-weight: bold;
  }

  &__formBox {
    padding: 33px 45px;
    flex-grow: 3;
    background-color: $color-bgc;
    text-align: right;
  }

  &__formTitle {
    padding-bottom: 25px;
    text-align: left;
    font-family: $font-family--primary;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 172.35%;
    letter-spacing: 0.04em;
    color: #222222;
  }

  &__formName,
  &__formEmail,
  &__formTopic,
  &__formMessage {
    height: 56px;
    width: 100%;
    background: #fafaff;
    border-radius: 15px;
    border: none;
    padding: 24px;
    font-family: $font-family--primary;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #a0a0a0;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &__formName,
  &__formEmail,
  &__formTopic {
    height: 56px;
    margin-bottom: 17px;
  }

  &__formName {
  }

  &__formEmail {
  }

  &__formTopic {
  }

  &__formMessage {
    height: 180px;
    margin-bottom: 31px;
  }

  &__btn {
  }
}

@media (max-width: 1240px) {
  .contactUs {
    &__title {
      left: 25%;
    }
  }
}

@media (max-width: $mediaQ-tablet) {
  .contactUs {
    &__infoBox,
    &__formBox {
      width: 100%;
    }

    &__infoBox::after {
      content: "";
      z-index: 50;
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border-left: 24px solid transparent;
      border-right: 24px solid transparent;
      border-top: 32px solid $color-brand--secondary;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: $mediaQ-mobile-L) {
  .contactUs {
    &__title {
      left: 35%;
    }

    &__formBox {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }

    &__formTitle {
      text-align: center;
    }

    &__formName,
    &__formEmail,
    &__formTopic,
    &__formMessage {
      border-radius: 0;
    }

    &__btn {
      display: block;
      position: relative;
      width: 100%;
      border-radius: 0;
    }
  }
}

@media (max-width: $mediaQ-mobile-M) {
  .contactUs {
    &__encouragingText {
      width: auto;
    }

    &__title {
      left: 35%;
    }

    &__infoBox {
      padding-left: 30px;
      padding-right: 30px;
    }

    &__formBox {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }

    &__formName,
    &__formEmail,
    &__formTopic,
    &__formMessage {
      border-radius: 0;
    }

    &__btn {
      display: block;
      position: relative;
      width: 100%;
      border-radius: 0;
    }
  }
}
