.footer {
  position: relative;
  padding: 34px 0 31px;
  background-color: $color-bgc;
  width: 100%;

  &__copyrights {
    text-align: center;
    color: #a0a0a0;
    font-family: $font-family--secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}
