.skills {
  position: relative;
  z-index: 10;
  width: 100%;
  margin-bottom: 57px;
  padding: 0 7% 57px;
  background-color: $color-bgc;

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
    background-color: $color-bgc--special;
  }

  &__title {
    @include brand-main-title;
    // left: calc(30vw - 20px);
    left: calc(50% - 200px);
  }

  &__box {
    display: flex;
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
    padding: 38px 0px;
    justify-content: space-around;
    background-color: $color-bgc;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
  }

  &__item {
    position: relative;
    width: 100%;
    border-left: 3px dashed #ffc53d;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
  }

  &__item:first-of-type {
    border: none;
  }

  &__img {
    display: inline-block;
  }

  &__name {
    padding-top: 46px;
    text-align: center;
    line-height: 28px;
    font-family: $font-family--primary;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: $color-brand--primary;
  }

  &__secondName {
    padding-top: 13px;
    text-align: center;
    line-height: 28px;
    color: #000000;
    font-size: 24px;
    font-family: $font-family--primary;
    font-weight: normal;
    font-style: normal;
  }
}

@media (max-width: 1200px) {
  .skills {
    &__title {
      left: 35%;
    }
  }
}

@media (max-width: 1000px) {
  .skills {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 650px) {
  .skills {
    &__box {
      flex-wrap: wrap;
    }

    &__item {
      border-left: none;
      border-top: 3px dashed #ffc53d;
      margin-top: 30px;
      padding-top: 30px;
    }

    &__item:first-of-type {
      margin-top: 0;
      padding-top: 0;
    }
  }
}
