.stickyNav {
  display: flex;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: 95px;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  color: $color-font--secondary;

  &__wrap {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 45px 45px 0;
    justify-content: space-between;
  }

  &__logoContainer {
    display: flex;
    padding: 1.5px;
  }

  &__logoContainer:hover {
    color: red;
  }

  &__title {
    padding-left: 13.27px;
    text-align: left;
    font-size: 24px;
    font-family: $font-family--primary;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.15em;
  }

  &__navItemsContainer {
    display: flex;
  }

  &__navLink {
    display: inline-block;
    margin-left: 40.19px;
    padding: 1.5px;
    text-align: left;
    color: $color-font--secondary;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.02em;
  }

  &__navItem:hover &__navLink {
    color: red;
    text-shadow: 2px 2px 2px #000000;
  }

  li:first-of-type &__navLink {
    margin-left: 0px;
  }

  &__burger {
    display: none;
    position: relative;
    transition: 0.5s;
    top: 0;
    right: 0;
    height: 24px;
    width: 32px;
  }

  &__burgerBar {
    overflow: hidden;
    display: block;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    // border-radius: 10%;
    background-color: black;
    transition: 0.5s, background-color 1s;
  }

  &__burgerBar--first {
    top: 0;
  }

  &__burgerBar--second {
    top: 50%;
    transform: translateY(-50%);
  }

  &__burgerBar--third {
    bottom: 0;
  }

  &__burger:hover &__burgerBar--first {
    top: 50%;
    transform: rotate(45deg);
  }

  &__burger:hover &__burgerBar--second {
    transform: rotate(-45deg);
  }

  &__burger:hover &__burgerBar--third {
    top: 50%;
    transform: rotate(135deg);
  }

  &__burger:hover &__burgerBar {
    background-color: rgb(255, 000, 000);
  }
}

// ~

@media (max-width: 700px) {
  .stickyNav {
    &__navItemsContainer {
      display: none;
    }

    &__burger {
      display: block;
    }
  }
}

@media (max-width: 700px) {
  .stickyNav {
    &__wrap {
      padding-left: auto;
      padding-right: auto;
    }
  }
}
