* {
  list-style: none;
}
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
}
:focus {
  outline: 0;
}
li {
  list-style: none;
}
:root {
  --background-color: #181818;
  --background-color-2: #ffffff;
}
body {
  background: var(--background-color);
}
nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
}
nav .nav_links {
  width: 100%;
  height: 40px;
  background: var(--background-color-2);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav .nav_links .nav_link {
  width: 180px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2vw;
  position: relative;
  overflow-y: hidden;
  transition: all 0.4s ease-out;
  text-align: center;
}
nav .nav_links .nav_link:before {
  content: "";
  width: 6%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  bottom: -50px;
  left: 0;
  transition: all 0.3s ease-out;
}
nav .nav_links .nav_link:after {
  content: "";
  width: 6%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  top: -50px;
  right: 0;
  transition: all 0.3s ease-out;
}
nav .nav_links .nav_link:hover {
  background: #000000;
}
nav .nav_links .nav_link:hover a {
  color: white;
}
nav .nav_links .nav_link:hover:before {
  bottom: 0;
}
nav .nav_links .nav_link:hover:after {
  top: 0;
}
nav .nav_links .nav_link a {
  font-size: 20px;
  letter-spacing: 1px;
  width: 80%;
  color: #000000;
  transition: all 0.3s ease-out;
}
.section-main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 16px);
}
.about_me {
  width: 100%;
  margin-top: 40px;
}
.about_me .about_left {
  width: 25%;
  display: flex;
  justify-content: center;
}
.about_me .about_left .photo_frame {
  width: 220px;
  height: 220px;
  margin-top: 80px;
  background: var(--background-color-2);
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about_me .about_left .photo_frame .inside_p_frame {
  border-radius: 100%;
  width: 90%;
  height: 90%;
  background: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about_me .about_left .photo_frame .inside_p_frame .about_photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about_me .about_left .photo_frame .inside_p_frame .about_photo img {
  width: 90%;
  border-radius: 100%;
}
.about_me .about_orament {
  width: 16px;
  background: var(--background-color-2);
}
.about_me .about_right {
  width: 100%;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about_me .about_right article {
  width: 80%;
  height: 40%;
  background: var(--background-color-2);
  border-radius: 20px;
}
.about_me .about_right article h1 {
  font-size: 2.5rem;
  margin: 10px;
  letter-spacing: 2px;
}
.about_me .about_right article p {
  font-size: 1.5rem;
  margin: 0 10px;
}
.ornament_horizontal {
  width: 100%;
  height: 16px;
  background: var(--background-color-2);
}
/*# sourceMappingURL=styles.css.map */